<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
	<meta charset="UTF-8" />
	<link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>			
	<section class="layout-content" layout:fragment="corpo">
		<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<i class="oi oi-caret-right"></i>
						<span>Home</span>
					</li>
				</ul>
			</div>
		</nav>
		<div class="img">
			<img th:src="@{/image/employee.png}" alt="logo-employee" />
		</div>
	</section>		
	
	<footer class="layout-footer">
		<div class="container">
			<span class="footer-copy">&copy; 2021 Ezandro Bueno. Todos os direitos reservados.</span>
		</div>
	</footer> 
</body>
</html>